<div class="login-container">
    <div class="row">
        <div class="col-md-7 image-container">
            <img src="../../../../assets/images/login.jpg" class="w-100" alt="" srcset="">
        </div>
        <div class="col-md-5 form-container">
            <div class="form-content">
                <div class="title text-center text-white">
                    <h1>
                        VIVID
                    </h1>
                </div>
                <div class=" d-flex justify-content-center">
                    <form id="register-form" class="register-form" [formGroup]="registerForm" >
                        <mat-form-field class="example-full-width mb-2">
                            <mat-label>Username</mat-label>
                            <input type="text" matInput formControlName="username">
                            <mat-error *ngIf="registerFormControl['username'].touched && registerFormControl['username']?.hasError('required')">
                                Username is <strong>require</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width mb-2">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password">
                            <mat-error *ngIf="registerFormControl['password'].touched && registerFormControl['password']?.hasError('required')">
                                Password is <strong>require</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width mb-2">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput formControlName="name">
                            <mat-error *ngIf="registerFormControl['name'].touched && registerFormControl['name']?.hasError('required')">
                                Name is <strong>require</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width mb-2">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="registerFormControl['email'].touched && registerFormControl['email']?.hasError('email')">
                              Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="registerFormControl['email'].touched && registerFormControl['email']?.hasError('required')">
                              Email is <strong>require</strong>
                            </mat-error>
                        </mat-form-field>
                        <button mat-stroked-button (click)="signUp()">Register</button>
                    </form>
                </div>
                <p class="signin text-center my-3 ">already have an account ? <a routerLink="/login">Sign in</a> </p>

            </div>
        </div>
    </div>
</div>
