<div class="login-container">
    <div class="row">
        <div class="col-md-7 image-container">
            <img src="../../../../assets/images/login.jpg" class="w-100" alt="" srcset="">
        </div>
        <div class="col-md-5 form-container">
            <div class="row">
                <div class="title col-md-12 text-center text-white">
                    <h1>
                        VIVID
                    </h1>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <form id="register-form" class="register-form" [formGroup]="registerForm" >
                        <!-- <input 
                        placeholder="Username" 
                        type="text"
                        formControlName="username"
                        >
                        <input 
                        placeholder="Password" 
                        type="password"
                        formControlName="password"
                        >
                        <input
                        placeholder="name" 
                        type="text"
                        formControlName="name"
                        >
                        <input
                        placeholder="E-mail" 
                        type="email"
                        formControlName="email"
                        > -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput formControlName="username" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="registerFormControl['username'].touched">
                              Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="registerForm?.get('username')?.hasError('required')">
                              Email is <strong>require</strong>
                            </mat-error>
                          </mat-form-field>
                        <!-- <button class="button_submit" (click)="signUp()">Register</button> -->
                    </form>
                </div>
                <p class="signin text-center my-3 ">already have an account ? <a routerLink="/login">Sign in</a> </p>

            </div>
        </div>
    </div>
</div>
